## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,San Patricio,US,28.0170,-97.5169,75.88,89,18,13.38,few clouds
1,1,Sitka,US,57.0531,-135.3300,37.29,75,90,10.36,light rain
2,2,Vaini,TO,-21.2000,-175.2000,84.36,79,20,10.36,few clouds
3,3,Barrow,US,71.2906,-156.7887,3.22,85,90,11.50,mist
4,4,Tres Arroyos,AR,-38.3739,-60.2798,62.58,89,100,3.96,moderate rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,San Patricio,US,28.0170,-97.5169,75.88,89,18,13.38,few clouds
2,2,Vaini,TO,-21.2000,-175.2000,84.36,79,20,10.36,few clouds
9,9,Tiarei,PF,-17.5333,-149.3333,84.22,66,11,10.74,few clouds
16,16,Itoman,JP,26.1247,127.6694,74.17,50,20,11.50,few clouds
24,24,Puerto Ayora,EC,-0.7393,-90.3518,70.20,88,96,6.51,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
900,900,Bom Jardim,BR,-7.7958,-35.5872,77.34,91,45,3.89,scattered clouds
906,906,Chumphon,TH,10.3333,98.8333,78.91,74,83,8.23,broken clouds
912,912,Lashio,MM,22.9333,97.7500,70.18,69,12,1.30,few clouds
913,913,Bouake,CI,7.6895,-5.0218,75.31,88,1,0.00,clear sky
914,914,La Libertad,EC,-2.2333,-80.9000,71.22,84,100,10.02,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        306
City           306
Country        303
Lat            306
Lng            306
Max Temp       306
Humidity       306
Cloudiness     306
Wind Speed     306
Description    306
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,San Patricio,US,28.0170,-97.5169,75.88,89,18,13.38,few clouds
2,2,Vaini,TO,-21.2000,-175.2000,84.36,79,20,10.36,few clouds
9,9,Tiarei,PF,-17.5333,-149.3333,84.22,66,11,10.74,few clouds
16,16,Itoman,JP,26.1247,127.6694,74.17,50,20,11.50,few clouds
24,24,Puerto Ayora,EC,-0.7393,-90.3518,70.20,88,96,6.51,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
900,900,Bom Jardim,BR,-7.7958,-35.5872,77.34,91,45,3.89,scattered clouds
906,906,Chumphon,TH,10.3333,98.8333,78.91,74,83,8.23,broken clouds
912,912,Lashio,MM,22.9333,97.7500,70.18,69,12,1.30,few clouds
913,913,Bouake,CI,7.6895,-5.0218,75.31,88,1,0.00,clear sky
914,914,La Libertad,EC,-2.2333,-80.9000,71.22,84,100,10.02,light rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,San Patricio,US,75.88,few clouds,28.0170,-97.5169,
2,Vaini,TO,84.36,few clouds,-21.2000,-175.2000,
9,Tiarei,PF,84.22,few clouds,-17.5333,-149.3333,
16,Itoman,JP,74.17,few clouds,26.1247,127.6694,
24,Puerto Ayora,EC,70.20,overcast clouds,-0.7393,-90.3518,
...,...,...,...,...,...,...,...
900,Bom Jardim,BR,77.34,scattered clouds,-7.7958,-35.5872,
906,Chumphon,TH,78.91,broken clouds,10.3333,98.8333,
912,Lashio,MM,70.18,few clouds,22.9333,97.7500,
913,Bouake,CI,75.31,clear sky,7.6895,-5.0218,
914,La Libertad,EC,71.22,light rain,-2.2333,-80.9000,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,San Patricio,US,75.88,few clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
2,Vaini,TO,84.36,few clouds,-21.2000,-175.2000,Keleti Beach Resort
9,Tiarei,PF,84.22,few clouds,-17.5333,-149.3333,Le Rocher de Tahiti
16,Itoman,JP,74.17,few clouds,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
24,Puerto Ayora,EC,70.20,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...,...
900,Bom Jardim,BR,77.34,scattered clouds,-7.7958,-35.5872,Pousada do Posto Jose Breno
906,Chumphon,TH,78.91,broken clouds,10.3333,98.8333,สกาน จ๋า.
912,Lashio,MM,70.18,few clouds,22.9333,97.7500,Hotel CF Lashio - Burmese Only
913,Bouake,CI,75.31,clear sky,7.6895,-5.0218,Hotel Residence Nannan
914,La Libertad,EC,71.22,light rain,-2.2333,-80.9000,Playa Canela Hotel Boutique

In [10]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 303 entries, 0 to 914
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   City         303 non-null    object
 1   Country      303 non-null    object
 2   Max Temp     303 non-null    float64
 3   Description  303 non-null    object
 4   Lat          303 non-null    float64
 5   Lng          303 non-null    float64
 6   Hotel Name   303 non-null    object
dtypes: float64(3), object(4)
memory usage: 27.0+ KB

In [11]:
hotel_df.isnull().sum()

City           0
Country        0
Max Temp       0
Description    0
Lat            0
Lng            0
Hotel Name     0
dtype: int64

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace('', np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,San Patricio,US,75.88,few clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
2,Vaini,TO,84.36,few clouds,-21.2000,-175.2000,Keleti Beach Resort
9,Tiarei,PF,84.22,few clouds,-17.5333,-149.3333,Le Rocher de Tahiti
16,Itoman,JP,74.17,few clouds,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
24,Puerto Ayora,EC,70.20,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...,...
900,Bom Jardim,BR,77.34,scattered clouds,-7.7958,-35.5872,Pousada do Posto Jose Breno
906,Chumphon,TH,78.91,broken clouds,10.3333,98.8333,สกาน จ๋า.
912,Lashio,MM,70.18,few clouds,22.9333,97.7500,Hotel CF Lashio - Burmese Only
913,Bouake,CI,75.31,clear sky,7.6895,-5.0218,Hotel Residence Nannan
914,La Libertad,EC,71.22,light rain,-2.2333,-80.9000,Playa Canela Hotel Boutique

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))