## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,San Patricio,US,75.88,few clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
1,2,Vaini,TO,84.36,few clouds,-21.2000,-175.2000,Keleti Beach Resort
2,9,Tiarei,PF,84.22,few clouds,-17.5333,-149.3333,Le Rocher de Tahiti
3,16,Itoman,JP,74.17,few clouds,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
4,24,Puerto Ayora,EC,70.20,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...,...,...
282,900,Bom Jardim,BR,77.34,scattered clouds,-7.7958,-35.5872,Pousada do Posto Jose Breno
283,906,Chumphon,TH,78.91,broken clouds,10.3333,98.8333,สกาน จ๋า.
284,912,Lashio,MM,70.18,few clouds,22.9333,97.7500,Hotel CF Lashio - Burmese Only
285,913,Bouake,CI,75.31,clear sky,7.6895,-5.0218,Hotel Residence Nannan
286,914,La Libertad,EC,71.22,light rain,-2.2333,-80.9000,Playa Canela Hotel Boutique

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Sibolga']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Sibolga']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Bengkulu']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Payo'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Meulaboh']

In [11]:
vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
124,380,Sibolga,ID,77.47,overcast clouds,1.7427,98.7792,Hotel Syariah CN Darussalam

In [14]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0] , vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0] , vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0] , vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0] , vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0] , vacation_stop3["Lng"].to_numpy()[0]

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
directions = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,380,Sibolga,ID,77.47,overcast clouds,1.7427,98.7792,Hotel Syariah CN Darussalam
1,60,Bengkulu,ID,74.14,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
2,166,Payo,ID,75.38,overcast clouds,-3.7508,103.6372,Mess keban agung
3,290,Meulaboh,ID,81.84,light rain,4.1363,96.1285,Kost Pria

In [17]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))